/*video {
	max-width: 100%;
	position: absolute;
	z-index: 0;

}*/
/*Vars*/
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 0px 50px 0px;
	line-height: 1.4;
}

.btn {
	background-color: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
	text-align: center;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

.main-nav ul {
	display: grid;
	grid-gap: 1px;
	padding: 0px;
	list-style: none;
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

ul li .svg-inline--fa{
	display: none;

}

.logo {
	position: relative;
	padding: 0.8rem;
	display: block;
	color: var(--primary);
	background: var(--dark);
	text-align: center;
	font-size: 1.1rem;
	box-shadow: 0 1px 2px rgba(104, 104, 104, 0.8);
	text-transform: uppercase;
}

.main-nav a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: 0 1px 2px rgba(104, 104, 104, 0.8);
}

.main-nav a:hover {
	background: var(--dark);
	color: var(--primary);
}

.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		'showcase showcase top-box-a'
		'showcase showcase top-box-b';
}

.showcase {
	position: relative;
	grid-area: showcase;
	overflow: hidden;
	min-height: 400px;
/*	background: url("https://static.pexels.com/photos/373076/pexels-photo-373076.jpeg");*/
	background: url("mounts.png");
	background-position: center;
	background-size: cover;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow);
}
.showcase::before {
	content: "";
	scale: ;
    position: absolute;
    width: 100%;
    height: 105%;
    z-index: -1;
    background: url("stars.png") 0 0 repeat;
    background-position: center;
    background-size: cover;
    animation: starsRotate 10s linear infinite;
}

@keyframes starsRotate {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(4deg) scale(1.11);}
    100%  {transform: rotate(0deg) scale(1);}
}
.showcase-copy {
	text-shadow: 2px 1px var(--dark);
	position: relative;
	z-index: 1;
	padding: 1rem;
}
.showcase h1 {
	font-size: 3.5rem;
	margin-bottom: 0;
	color: var(--primary);
}

.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 60px;
	color: var(--primary);
	padding: 1rem 0;
}
  .showcse  {
  	margin-top: 20px;
	padding: 0.8rem 2.8rem;
}

.top-box {
	background: var(--primary);
	display: grid;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow);
	padding: 2rem;
}

.top-box .price {
	font-size: 2.5rem;
}

.top-box-a {
	grid-area: top-box-a;
}

.top-box-b {
	grid-area: top-box-b;
}

.boxes {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
	background: var(--primary);
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow);
}

.info {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	padding: 3rem;
}

.portfolio {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
	width: 100%;
	box-shadow: var(--shadow);
}

footer {
	margin-top: 2rem 0 0;
	background: var(--dark);
	color: var(--primary);
	text-align: center;
	padding: 1rem;
}

/*Media Queries*/

@media (max-width: 700px) {
	.main-nav ul li:nth-of-type(3) {
		order: -1;
	}

	.top-container {
		grid-template-areas: 
		'showcase showcase'
		'top-box-a top-box-b';
	}

	.showcase h1 {
		font-size: 2.5rem;
	}

	.main-nav ul {
		margin-left: 0px;
		margin-right: 0px;
		grid-template-columns: 1fr;
		grid-gap: 3px;
	}

	.info {
		grid-template-columns: 1fr;
	}

	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media (max-width: 500px) {
	body {
		margin: 20px 20px 0px;
		line-height: 1.4;
	}
	
	.main-nav {
		margin: -15px -20px;
		position: fixed;
		top: 0;
  		width: 100%;
  		z-index: 2;
	}
	
	.showcase {
		margin-top: 30px;
	}

	.submenu {
		display: none;
	}

	ul li .svg-inline--fa{
		display: block;
		font-size: 1.8rem;
		top: 20%;
		left: 20px;
		position: absolute;
	}

	.top-container {
		grid-template-areas: 
		'showcase'
		'top-box-a'
		'top-box-b';
	}
	.showcase {
		margin-left: -20px;
		margin-right: -20px;
		text-align: center;
	}

	footer {
		margin-left: -20px;
		margin-right: -20px;
	}
}











            


